.posts-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 70vh;
    margin-top: 30px;
}



.post-container {
    background-color: #F2F4F7;
    margin: 10px 0 10px 0;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    padding: 10px 15px;
    width: 500px;
}

.card-header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}



.post-container button{
    border-radius: 6px;
    background-color: #1E2834;
    color: #fff;
    font-weight: 600;
    transition: all 0.2s ease;
    margin: 7px;
}

.post-container button:hover{
    background-color: #fff;
    color: #1E2834;
}

.bottom-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}